# Lab 8 (Assignment 1)

*Name: Kevin (Yuxuan) Han*

*NetID: yxh204*

---

# Working with Data - Computer Lab for Guest Lecture Julia Lane

In this computer lab we will learn more more details and practice data work to enhance the content of the lecture presented by Julia Lane on responsible data use. We will address a research question, think about data and measurement errors, and manipulate data. 

OUTLINE: 
1. Define a research question 
2. Think about what data are available 
3. Think about possible measurement errors 
4. Think about the interpretation of your results 
5. Inform your results by linking datasets

---

# 1. Define a reserach question
Which Community Districts in NYC show the highest number of complaints?

---

# 2. Think about what data are available

Find suitable data by searching the CUSP Data Catalog https://datahub.cusp.nyu.edu/catalog. You can use Urban Profiler to investigate the Metadata associated with each dataset. Using this tool will help you to decide which attributes of the data you need to answer your question so you don't have to load the entire dataset.

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://data.cityofnewyork.us/resource/erm2-nwe9.csv")

In [3]:
data.shape

(1000, 53)

In [4]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,34718162,11/06/2016 02:13:36 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Talking,Residential Building/House,11207.0,1072 DECATUR STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.686273,-73.909983,"(40.68627299499425, -73.90998344424513)"
1,34710612,11/06/2016 02:13:26 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11203.0,264 EAST 39 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.650597,-73.940902,"(40.65059719448146, -73.94090158256765)"
2,34718078,11/06/2016 02:13:20 AM,11/06/2016 03:26:07 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10040.0,382 WADSWORTH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.856688,-73.929353,"(40.85668814238739, -73.92935305837368)"
3,34717999,11/06/2016 02:12:28 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10456.0,540 EAST 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.832517,-73.904383,"(40.83251671698595, -73.90438319967464)"
4,34712798,11/06/2016 02:11:19 AM,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10461.0,3229 WESTCHESTER AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.852054,-73.829039,"(40.85205433772875, -73.82903920932816)"

In [5]:
data.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

---

# 3. Think about possible measurement errors
Do you see any problems regarding possible measurement error? Think about who is represented in the data, ommissions, duplications, content error, missing data, etc.

### Check if all Boroughs and Community Districts are represented in the Data

In [6]:
data["Borough"].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'QUEENS', 'STATEN ISLAND',
       'Unspecified'], dtype=object)

In [7]:
data["Community Board"].unique()

array(['04 BROOKLYN', '17 BROOKLYN', '12 MANHATTAN', '03 BRONX',
       '10 BRONX', '01 BRONX', '07 BRONX', '04 BRONX', '01 BROOKLYN',
       '12 BRONX', '11 BRONX', '07 MANHATTAN', '06 MANHATTAN',
       '13 BROOKLYN', '07 QUEENS', '02 QUEENS', '02 BRONX', '08 BROOKLYN',
       '11 BROOKLYN', '03 MANHATTAN', '02 BROOKLYN', '01 QUEENS',
       '04 MANHATTAN', '14 BROOKLYN', '09 MANHATTAN', '06 BROOKLYN',
       '08 MANHATTAN', '18 BROOKLYN', '11 MANHATTAN', '03 BROOKLYN',
       '04 QUEENS', '06 QUEENS', '09 BROOKLYN', '12 QUEENS', '05 BRONX',
       '05 BROOKLYN', '10 MANHATTAN', '11 QUEENS', '09 QUEENS',
       '02 MANHATTAN', '08 BRONX', '10 QUEENS', '01 STATEN ISLAND',
       '03 QUEENS', '07 BROOKLYN', '02 STATEN ISLAND', '06 BRONX',
       '05 QUEENS', '09 BRONX', '14 QUEENS', '12 BROOKLYN', '05 MANHATTAN',
       '15 BROOKLYN', '13 QUEENS', '03 STATEN ISLAND', '01 MANHATTAN',
       '08 QUEENS', '10 BROOKLYN', '0 Unspecified', '16 BROOKLYN',
       'Unspecified BROOKLYN'], dtype=object)

### How many unique values do we have?

In [8]:
len(data["Community Board"].unique())

61

### Why do we have so many? Some of them are unspecified, missing. Some might be invalid entries. We should have 59 Community Districts. Check for duplicates? Are these plausible?

In [9]:
unique_CD = sorted(list(data["Community Board"].unique()))
unique_CD

['0 Unspecified',
 '01 BRONX',
 '01 BROOKLYN',
 '01 MANHATTAN',
 '01 QUEENS',
 '01 STATEN ISLAND',
 '02 BRONX',
 '02 BROOKLYN',
 '02 MANHATTAN',
 '02 QUEENS',
 '02 STATEN ISLAND',
 '03 BRONX',
 '03 BROOKLYN',
 '03 MANHATTAN',
 '03 QUEENS',
 '03 STATEN ISLAND',
 '04 BRONX',
 '04 BROOKLYN',
 '04 MANHATTAN',
 '04 QUEENS',
 '05 BRONX',
 '05 BROOKLYN',
 '05 MANHATTAN',
 '05 QUEENS',
 '06 BRONX',
 '06 BROOKLYN',
 '06 MANHATTAN',
 '06 QUEENS',
 '07 BRONX',
 '07 BROOKLYN',
 '07 MANHATTAN',
 '07 QUEENS',
 '08 BRONX',
 '08 BROOKLYN',
 '08 MANHATTAN',
 '08 QUEENS',
 '09 BRONX',
 '09 BROOKLYN',
 '09 MANHATTAN',
 '09 QUEENS',
 '10 BRONX',
 '10 BROOKLYN',
 '10 MANHATTAN',
 '10 QUEENS',
 '11 BRONX',
 '11 BROOKLYN',
 '11 MANHATTAN',
 '11 QUEENS',
 '12 BRONX',
 '12 BROOKLYN',
 '12 MANHATTAN',
 '12 QUEENS',
 '13 BROOKLYN',
 '13 QUEENS',
 '14 BROOKLYN',
 '14 QUEENS',
 '15 BROOKLYN',
 '16 BROOKLYN',
 '17 BROOKLYN',
 '18 BROOKLYN',
 'Unspecified BROOKLYN']

<img src="http://www.nyc.gov/html/bkncb13/images/misc/cb13-map1.gif">

#### The two extra values correspond to missing `Community Board` labels in Brooklyn and missing `Borough` labels (`'0 Unspecified'`).

### What about missing values? Can you detect any patterns?

In [10]:
data[data["Community Board"] == "0 Unspecified"].Borough.unique()

array(['Unspecified'], dtype=object)

In [11]:
data[data["Community Board"] == "0 Unspecified"]["Complaint Type"].unique()

array(['Blocked Driveway', 'DOF Literature Request',
       'Benefit Card Replacement', 'Illegal Parking', 'Noise - Vehicle'], dtype=object)

In [12]:
data[data["Community Board"] == "Unspecified BROOKLYN"]["Complaint Type"].unique()

array(['Consumer Complaint'], dtype=object)

### Data Editing: Is it possible to replace missing values? Is it possible to use `Complaint Type` to fill missings in Resolution Descriptor?

In [13]:
data["Resolution Description"].isnull().sum()

9

In [14]:
data[data["Resolution Description"].isnull()]

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
468,34710865,11/06/2016 12:43:00 AM,NaN,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,11379.0,60-39 77 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.724030,-73.882845,"(40.72403028271537, -73.88284542065419)"
692,34712214,11/05/2016 11:59:00 PM,NaN,DEP,Department of Environmental Protection,Water System,Hydrant Leaking (WC1),NaN,11206.0,124 SCHOLES STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708648,-73.944796,"(40.708648349949975, -73.94479608707884)"
740,34711174,11/05/2016 11:49:00 PM,NaN,DEP,Department of Environmental Protection,Noise,Noise: Construction Before/After Hours (NM1),NaN,11369.0,22-51 98 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.769390,-73.872625,"(40.76939017657135, -73.8726245376736)"
779,34716504,11/05/2016 11:42:00 PM,NaN,DEP,Department of Environmental Protection,Noise,Noise: Alarms (NR3),NaN,10473.0,950 UNDERHILL AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.824694,-73.860859,"(40.82469388912986, -73.86085883210954)"
816,34716480,11/05/2016 11:37:00 PM,NaN,DEP,Department of Environmental Protection,Water System,Dirty Water (WE),NaN,11204.0,1629 48 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631068,-73.984040,"(40.63106839647645, -73.98403991948065)"
833,34715470,11/05/2016 11:35:00 PM,NaN,DEP,Department of Environmental Protection,Water System,Dirty Water (WE),NaN,11204.0,1673 46 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631738,-73.982127,"(40.63173784339597, -73.98212669214058)"
837,34711173,11/05/2016 11:34:00 PM,NaN,DEP,Department of Environmental Protection,Water System,Hydrant Running (WC3),NaN,11214.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.613670,-73.999579,"(40.61367027235992, -73.99957859080536)"
915,34714430,11/05/2016 11:17:00 PM,NaN,DEP,Department of Environmental Protection,Water System,Dirty Water (WE),NaN,11204.0,4610 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.631115,-73.981446,"(40.63111466855187, -73.98144594315488)"
997,34716503,11/05/2016 11:04:00 PM,NaN,DEP,Department of Environmental Protection,Water System,Dirty Water (WE),NaN,11204.0,1645 43 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633714,-73.980865,"(40.6337138878735, -73.98086515845179)"

In [15]:
ct = data[data["Resolution Description"].isnull()]["Complaint Type"].unique()
data[data["Complaint Type"] == ct[0]]["Resolution Description"]

468    NaN
Name: Resolution Description, dtype: object

In [16]:
data[data["Complaint Type"] == ct[1]]["Resolution Description"]

692    NaN
816    NaN
833    NaN
837    NaN
915    NaN
997    NaN
Name: Resolution Description, dtype: object

In [17]:
data[data["Complaint Type"] == ct[2]]["Resolution Description"]

740    NaN
779    NaN
Name: Resolution Description, dtype: object

#### No this would not be possible since all `Resolution Description` for these particular `Complaint Type` are missing.

### Generate marker for unplausible Community Districts. How do these districts look like?

In [18]:
SI = ['0' + str(i) + ' STATEN ISLAND' if len(str(i)) == 1 else str(i) + ' STATEN ISLAND' for i in range(1,4)]
BK = ['0' + str(i) + ' BROOKLYN' if len(str(i)) == 1 else str(i) + ' BROOKLYN' for i in range(1,19)]
MN = ['0' + str(i) + ' MANHATTAN' if len(str(i)) == 1 else str(i) + ' MANHATTAN' for i in range(1,13)]
BX = ['0' + str(i) + ' BRONX' if len(str(i)) == 1 else str(i) + ' BRONX' for i in range(1,13)]
QN = ['0' + str(i) + ' QUEENS' if len(str(i)) == 1 else str(i) + ' QUEENS' for i in range(1,15)]

In [19]:
print(MN)

['01 MANHATTAN', '02 MANHATTAN', '03 MANHATTAN', '04 MANHATTAN', '05 MANHATTAN', '06 MANHATTAN', '07 MANHATTAN', '08 MANHATTAN', '09 MANHATTAN', '10 MANHATTAN', '11 MANHATTAN', '12 MANHATTAN']

In [20]:
plausible = SI + MN + BK + BX + QN

### Drop the marked districts

In [21]:
index = [];
for i in range(len(data)):
    if data.iloc[i,:]["Community Board"] in plausible:
        index.append(i)

In [22]:
data = data.iloc[index,:]

### Produce your result: Generate an indicator which ranks the Community District by complaint numbers on the Community district level. Save reduced data frame (Community District level)

In [23]:
data2 = data.groupby("Community Board").count()

In [24]:
data2.reset_index(inplace = True)
data2 = data2.iloc[:,:2]
data2.rename(columns = {"Unique Key": "Number of Complaints"}, inplace = True)

In [25]:
data2.head()

    Community Board  Number of Complaints
0          01 BRONX                    25
1       01 BROOKLYN                    32
2      01 MANHATTAN                     5
3         01 QUEENS                    32
4  01 STATEN ISLAND                     8

In [ ]:
# data2.to_csv("data2.csv")

---

# 4. Think about the interpretation of your results?
What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

### Population by Community District

In [ ]:
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")

### Check variables in file

In [43]:
df_pop.shape

(59, 158)

In [42]:
df_pop.columns

Index(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [44]:
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

### How many community districts are in file?

In [46]:
df_pop["cd_id"]

0        BX08
1        BX12
2        BX10
3        BX11
4        BX03
5        BX06
6        BX07
7        BX05
8        BX04
9        BX09
10       BX01
11       BX02
12       MN12
13       MN09
14       MN10
15    MN11111
16       MN08
17       MN07
18       MN05
19       MN04
20       MN06
21       MN03
22       MN01
23       MN02
24       SI03
25       SI02
26       SI01
27       BK01
28       BK04
29       BK03
30       BK02
31       BK06
32       BK08
33       BK16
34       BK05
35       BK18
36       BK17
37       BK09
38       BK07
39       BK10
40       BK12
41       BK14
42       BK15
43       BK11
44       BK13
45       QN01
46       QN03
47       QN07
48       QN11
49       QN13
50       QN08
51       QN04
52       QN06
53       QN02
54       QN05
55       QN09
56       QN12
57       QN10
58       QN14
Name: cd_id, dtype: object

### Manipulate data to get some information on demographics by Community District. Think about who might be more likely to call 311

In [52]:
SI2 = ['SI0' + str(i) if len(str(i)) == 1 else 'SI' + str(i) for i in range(1,4)]
BK2 = ['BK0' + str(i) if len(str(i)) == 1 else 'BK' + str(i) for i in range(1,19)]
MN2 = ['MN0' + str(i) if len(str(i)) == 1 else 'MN' + str(i) for i in range(1,13)]
BX2 = ['BX0' + str(i) if len(str(i)) == 1 else 'BX' + str(i) for i in range(1,13)]
QN2 = ['QN0' + str(i) if len(str(i)) == 1 else 'QN' + str(i) for i in range(1,15)]

In [53]:
plausible2 = SI2 + BK2 + MN2 + BX2 + QN2

In [59]:
index = [];
for i in range(len(df_pop)):
    if df_pop.iloc[i,:]["cd_id"] not in plausible2:
        index.append(i)

In [62]:
df_pop["cd_id"][index] = 'MN11'

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [83]:
for i in range(len(df_pop)):
    if df_pop["cd_id"][i][:2] == "BK":
        df_pop["cd_id"][i] = df_pop["cd_id"][i][2:] + ' BROOKLYN'
    elif df_pop["cd_id"][i][:2] == "SI":
        df_pop["cd_id"][i] = df_pop["cd_id"][i][2:] + ' STATEN ISLAND'
    elif df_pop["cd_id"][i][:2] == "MN":
        df_pop["cd_id"][i] = df_pop["cd_id"][i][2:] + ' MANHATTAN'
    elif df_pop["cd_id"][i][:2] == "BX":
        df_pop["cd_id"][i] = df_pop["cd_id"][i][2:] + ' BRONX'
    elif df_pop["cd_id"][i][:2] == "QN":
        df_pop["cd_id"][i] = df_pop["cd_id"][i][2:] + ' QUEENS'

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [87]:
data3 = pd.merge(data2, df_pop, left_on="Community Board", right_on="cd_id")

In [88]:
data3.drop("Community Board", axis = 1, inplace = True)

In [89]:
data3.head()

,Community Board,Number of Complaints,FIPS,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,01 BRONX,25,3603710,167147,34412.07524,49.63,12.76,18.26,12.04,27.49,...,1757,5806,17.71,39.30,22.68,0.00,5.70,14.61,3.39,11.22
1,01 BROOKLYN,32,3604001,154713,37671.51058,49.93,8.52,29.88,13.70,72.48,...,1823,2894,52.80,15.35,22.83,0.00,3.47,5.55,2.14,3.40
2,01 MANHATTAN,5,3603810,159903,53928.05360,49.00,8.55,28.38,18.14,65.31,...,655,1404,73.33,4.22,19.67,0.00,0.75,2.04,0.65,1.39
3,01 QUEENS,32,3604101,182860,35800.75960,49.32,9.26,27.12,15.74,66.19,...,2553,6218,41.74,21.52,21.93,0.03,6.26,8.51,2.48,6.03
4,01 STATEN ISLAND,8,3603903,176338,12537.60496,49.29,10.93,15.08,12.94,71.43,...,1749,4911,35.67,26.10,21.81,0.08,7.50,8.83,2.32,6.51

### Save data frame

In [ ]:
# data3 = pd.to_csv("data.csv")

### Infrastructure by Community District

In [90]:
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

### Check variables in file

In [91]:
df_infr.shape

(59, 31)

In [92]:
df_infr.columns

Index(['FIPS', 'Geographic Identifier', 'Qualifying Name', 'Households',
       'Households: With An Internet Subscription',
       'Households: Dial-Up Alone', 'Households: Dsl',
       'Households: With Mobile Broadband',
       'Households: Without Mobile Broadband', 'Households: Cable Modem',
       'Households: With Mobile Broadband.1',
       'Households: Without Mobile Broadband.1', 'Households: Fiber-Optic',
       'Households: With Mobile Broadband.2',
       'Households: Without Mobile Broadband.2',
       'Households: Satellite Internet Service',
       'Households: With Mobile Broadband.3',
       'Households: Without Mobile Broadband.3',
       'Households: Two or More Fixed Broadband Types, or Other',
       'Households: With Mobile Broadband.4',
       'Households: Without Mobile Broadband.4',
       'Households: Mobile Broadband Alone or With Dialup',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription', 'Households.1',
       'Households: Has A Computer',
       'Households: With Dial-Up Internet Subscription Alone',
       'Households: With A Broadband Internet Subscription',
       'Households: Without An Internet Subscription',
       'Households: No Computer'],
      dtype='object')

In [93]:
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

### How many community districts are in file?

In [97]:
df_infr["Qualifying Name"].unique()

array(['NYC-Bronx Community District 8--Riverdale, New York',
       'NYC-Bronx Community District 12--Wakefield, New York',
       'NYC-Bronx Community District 10--Co-op City, New York',
       'NYC-Bronx Community District 11--Pelham Parkway, New York',
       'NYC-Bronx Community District 3 & 6--Belmont, New York',
       'NYC-Bronx Community District 7--Bedford Park, New York',
       'NYC-Bronx Community District 5--Morris Heights, New York',
       'NYC-Bronx Community District 4--Concourse, New York',
       'NYC-Bronx Community District 9--Castle Hill, New York',
       'NYC-Bronx Community District 1 & 2--Hunts Point, New York',
       'NYC-Manhattan Community District 12--Washington Heights, New York',
       'NYC-Manhattan Community District 9--Hamilton Heights, New York',
       'NYC-Manhattan Community District 10--Central Harlem PUMA, New York',
       'NYC-Manhattan Community District 11--East Harlem PUMA, New York',
       'NYC-Manhattan Community District 8--Upper East Side PUMA, New York',
       'NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York',
       'NYC-Manhattan Community District 4 & 5--Chelsea, New York',
       'NYC-Manhattan Community District 6--Murray Hill, New York',
       'NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York',
       'NYC-Manhattan Community District 1 & 2--Battery Park City, New York',
       'NYC-Staten Island Community District 3--Tottenville, New York',
       'NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York',
       'NYC-Staten Island Community District 1--Port Richmond, New York',
       'NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York',
       'NYC-Brooklyn Community District 4--Bushwick PUMA, New York',
       'NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York',
       'NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York',
       'NYC-Brooklyn Community District 6--Park Slope, New York',
       'NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York',
       'NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York',
       'NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York',
       'NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York',
       'NYC-Brooklyn Community District 17--East Flatbush, New York',
       'NYC-Brooklyn Community District 9--Crown Heights South, New York',
       'NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York',
       'NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York',
       'NYC-Brooklyn Community District 12--Borough Park, New York',
       'NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York',
       'NYC-Brooklyn Community District 15--Sheepshead Bay, New York',
       'NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York',
       'NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York',
       'NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York',
       'NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York',
       'NYC-Queens Community District 7--Flushing, New York',
       'NYC-Queens Community District 11--Bayside, New York',
       'NYC-Queens Community District 13--Queens Village, New York',
       'NYC-Queens Community District 8--Briarwood, New York',
       'NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York',
       'NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York',
       'NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York',
       'NYC-Queens Community District 5--Ridgewood, New York',
       'NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York',
       'NYC-Queens Community District 12--Jamaica, New York',
       'NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York',
       'NYC-Queens Community District 14--Far Rockaway, New York'], dtype=object)

### Manipulate data to get some information on internet/broadband useage by Community District. Aggregate the mobile subscription data.

### Aggregate internet type by high and low connections

### Save data frame

---

# 5. Inform your results by linking datasets
Now you want to link the three data frames to produce summary statistics for Community Districts which show a high number of complaints vs. Community Districts which show a lower number of complaints. Please keep in mind that the identifiers used for the linkage (Community Dostrict IDs) should be recored the same way. Use regular expressions to harmonize the identifiers if possible. The identifiers should look like BK01, BK02, etc.
https://docs.python.org/2/library/re.html

### Harmonize identifier of dataframe 1

#### See the creation of `data2`.

### Harmonize identifier of dataframe 2

#### See the creation of `data3`.

### Harmonize identifier of dataframe 3

### Link the 3 dataframes

### Are the demographics and infrastructure different in Community Districts that show more complaints than others?

---